/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'spartan';
  src: url('fonts/leaguespartan-bold.woff2'),
       url('fonts/leaguespartan-bold.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(https://media3.giphy.com/media/BLwfryPQDxjgI/giphy.gif);
  color: #555;
  font-family: spartan;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.3rem;
  transition: all 3.5s;
}

body:hover {
  background-image: url(background.png);
  background-position: -100px;
  transition: all 3.5s;
}

body:hover section a {
  background-image: url(background.png);
}

.wrapper {
  padding-top: 100px;
}

section {
  color: #45afdb;
  font-weight: 100;
  display: block;
}

#contact span {
  display: block;
  float: right;
}

#contact:hover span:after {
  content: ': j@yearunknown.com';
}

section a {
  background-image: url(https://media3.giphy.com/media/BLwfryPQDxjgI/giphy.gif);
  display: block;
  position: relative;
  background-position: -10px;
  font-size: 3.5rem;
  padding: 15px;
  color: #eee;
  text-indent: 20px;
  text-decoration: none;
  background-position: -100px;
  transition: all 3.5s;
  clip-path: polygon(0 0, 0 0px, 210px 180px, 1100px 0);
  -webkit-clip-path: polygon(0 0, 0 0px, 210px 180px, 1100px 0);
  letter-spacing: -1px;
}

section a:hover {
  background-image: url(background.png);
  background-position: 100px;
  color: #f0f;
  transition: all 1.5s;
}

section > p {
  padding: 10px;
  font-size: 2rem;
  line-height: 3rem;

}