/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-image: url(background.png);
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

body > div {
  display: flex;
  flex-direction: row;
}

header {
  background-image: url(header.jpg);
  background-size: 33.3%;
  background-position: -10px -130px;
  width: 100%;
  height: 50px;
  display: block;
}

section {
  background: linear-gradient(145deg, rgba(50, 200, 50, 0.6) 10%, rgba(11, 211, 190, 0.6) 30%);
  padding: 20px;
  max-width: 600px;
  min-width: 300px;
  width: 55%;
  box-shadow: rgba(1, 1, 120, 0.8) 2px 0 20px;
  position: relative;
}

.timeslice {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1;
  font-size: 0.78rem;
  line-height: 0.85rem;
  background-color: rgb(200, 200, 10);
  padding: 1px 3px;
  border-radius: 2px;
}

#panel {
  width: 50%;
  max-width: 300px;
  min-width: 100px;

  margin-left: 20px;
}

h1 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin: 10px 0;
  color: rgba(55, 200, 120, 0.7);
}

h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  margin: 20px 0 10px 0;
  color: rgba(55, 200, 120, 0.9);
}

p {
  margin: 20px;
  font-size: 0.95rem;
  line-height: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: rgba(200, 200, 10, 0.8);
  text-transform: uppercase;
  margin: 10px 0;
}

li {
  position: relative;
}

li.stripe {
  padding: 0.5%;
  width: 99%;
  margin: 10px 0;
}

li.stripe a {
  background-color: rgba(200, 150, 110, 0.6);
  padding: 1px;
  font-size: 1rem;
  text-decoration: none;
  color: #fcf;
  display: block;
  margin: 4px 1px;
}

li.mindpather {
  margin-bottom: 30px;
}

li.mindpather a {
  background-position: 0px;
  display: block;
  width: 250px;
  height: 250px;
  text-decoration: none;
  line-height: 2rem;
  font-size: 1rem;
  color: rgba(244, 244, 244, 0.7);
  text-align: center;
}

li a:hover {
  background-position: -250px;
}

.mindpather a {
  background-image: url(mindpather.jpg);
  width: 250px;
  height: 250px;
}

li p {
  color: rgba(120, 20, 210, 0.9);
  background-color: rgba(221, 221, 1, 0.5);
  margin: 0;
  padding: 2px;
}

li span {
  display: block;
  color: #f0f;
  font-size: 0.8rem;
  position: absolute;
  left: 10px;
  bottom: 5px;
}

li.older {
  opacity: 0.95;
}

li.older a {
  font-size: 0.95rem;
}

li.oldest a {
  opacity: 0.85;
}

li.oldest a {
  font-size: 0.85rem;
}

@media (max-width: 500px) {
  section {
    width:  80%;
  }
  body > div {
    display: block;
  }
  header {
    height: 35px;
  }
}
